[submodule "lib/leaflet-control-geocoder"]
	path = lib/leaflet-control-geocoder
	url = https://github.com/perliedman/leaflet-control-geocoder.git
[submodule "lib/leaflet-hash"]
	path = lib/leaflet-hash
	url = https://github.com/mlevans/leaflet-hash.git
[submodule "lib/leaflet-geoip"]
	path = lib/leaflet-geoip
	url = https://github.com/jakubdostal/leaflet-geoip
[submodule "lib/leaflet-providers"]
	path = lib/leaflet-providers
	url = https://github.com/leaflet-extras/leaflet-providers.git
[submodule "lib/Leaflet.EasyButton"]
	path = lib/Leaflet.EasyButton
	url = https://github.com/CliffCloud/Leaflet.EasyButton.git
