[submodule "lib/leaflet-control-geocoder"]
	path = lib/leaflet-control-geocoder
	url = https://github.com/perliedman/leaflet-control-geocoder.git
[submodule "demo"]
	path = demo
	url = https://github.com/hamlet/tiles-freshness.git
